<div class="details-box">
  <mat-card class="song-card">
    <mat-card-header>
      <div mat-card-avatar class="song-header-image"></div>
      <mat-card-title>{{ song?.trackName }}</mat-card-title>
      <mat-card-subtitle>{{ song?.artistName }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ song?.artworkUrl100 }}"
      alt="{{ song?.collectionName }}"
    />

    <ng-template #noPreview>
      <mat-card-content>
        <mat-card-content></mat-card-content>
        <mat-toolbar>
          <mat-icon mat-fab color="warn" aria-label="warn icon">error</mat-icon>
          <span>Audio Preview Not Available</span>
        </mat-toolbar>
      </mat-card-content>
    </ng-template>

    <mat-card-actions *ngIf="song?.previewUrl; else noPreview">
      <button
        mat-fab
        color="warn"
        aria-label="play icon"
        (click)="play()"
        [disabled]="playEnabled"
      >
        <mat-icon>play_circle</mat-icon>
      </button>
      <button
        mat-fab
        color="warn"
        aria-label="stop icon"
        (click)="stop()"
        [disabled]="!playEnabled"
      >
        <mat-icon>stop_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
