<div class="main">
  <form class="song-form" (keydown.enter)="$event.preventDefault()">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Search</mat-label>
        <input
          matInput
          #searchBox
          id="search-box"
          (input)="search(searchBox.value)"
          matInput
          placeholder="Artist or Track"
        />
        <mat-icon matSuffix>audiotrack</mat-icon>
        <mat-hint>Ex. Dream Theater</mat-hint>
      </mat-form-field>
    </p>
  </form>

  <!-- {{ songList$ | async | json }} -->

  <div>
    <app-results-list
      [searchin]="searchin"
      [songs]="songList$ | async"
    ></app-results-list>
  </div>
</div>
