@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

mat-form-field * {
  color: white;
}
html,
body {
  height: 100%;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #424242;
}

a:visited,
a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  body {
    height: inherit;
  }

  .search-box {
    float: left;
    width: 40%;
  }

  app-song-detail {
    float: right;
    width: 60%;
  }
}
